---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Time Trials";


---

<BaseLayout pageTitle={pageTitle}>
    <a href="./timeTrialCourses">Time Trial Courses</a>
</BaseLayout>