---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TTCard from "../../components/TTCard.astro";

const pageTitle = "Time Trial Courses";
const allCourses = await Astro.glob("../../pages/ttcourses/*.md");

---

<BaseLayout pageTitle={pageTitle}>
    <section>
    
        <div class="p-8 grid grid-cols-1 md:grid-cols-2 md:grid-flow-row xl:grid-cols-3 xl:grid-flow-row gap-4">
            
          {
            allCourses.map((post) => (
            
              <TTCard
              frontmatter={post.frontmatter}
                
              />
            ))
          }
        </div>
      </section>
</BaseLayout>