---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Us";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="p-2 w-full flex flex-col justify-center items-center">
		<div class="text-left md:mx-32 mx:16">
			<h3 class="font-semibold text-xl pb-8">Come and join in!</h3>

			<p class="">
				Rides are provided for club members every Sunday. Check the
				Events page for more info. Club events include a full time trial
				 calendar throughout the spring and summer, two Audax
				events in May and various informal social rides throughout the
				year. We organise an annual Open 25 Time Trial event. This is
				held at the end of August and club members can ride for free.
				RDFCC also assist and advise on the Wild Boar Chase which is
				organised by the Forest of Dean Lions Club and this year will
				be held in September.
			</p>
			<div class="w-full flex flex-col justify-center items-center">
				<a
					href="../joinus/"
					class="object-center text-center my-2 inline-block rounded-full
			bg-yellow-300 px-4 pb-2 pt-2.5 mr-2 text-xs font-medium uppercase
			leading-normal text-neutral-700 shadow-md transition duration-150
			ease-in-out hover:bg-neutral-300 hover:shadow-lg
			focus:bg-neutral-300 focus:shadow-lg focus:outline-none focus:ring-0
			active:bg-neutral-400 active:shadow-lg"
					>Join Us!</a
				><a
					href="../history/"
					class="object-center text-center my-2 inline-block rounded-full
		bg-yellow-300 px-4 pb-2 pt-2.5 mr-2 text-xs font-medium uppercase
		leading-normal text-neutral-700 shadow-md transition duration-150
		ease-in-out hover:bg-neutral-300 hover:shadow-lg
		focus:bg-neutral-300 focus:shadow-lg focus:outline-none focus:ring-0
		active:bg-neutral-400 active:shadow-lg"
					>Our History</a>
			</div>
			<hr class="mx-32 mt-8 border-green-800 border-1">

			<h3 class="font-semibold pt-8 text-xl pb-8">You're covered!</h3>

			<p>
				The RDFCC are affiliated with a number of national cycling
				organisations who provide a range of basic insurance cover when
				participating in club events and rides. For further details
				please visit: 
				<a class="underline text-green-800 hover:text-yellow-300" href="https://www.britishcycling.org.uk/club/profile/559/royal-dean-forest-cc" target="_blank">British Cycling</a>, 
				<a class="underline text-green-800 hover:text-yellow-300" href="https://www.cyclingtimetrials.org.uk/club-events/club/826#anchor" target="_blank">Cycling Time Trials(CTT)</a> and 
				<a class="underline text-green-800 hover:text-yellow-300" href="https://www.cyclinguk.org/local-groups/royal-dean-forest-cycling-club" target="_blank">Cycling UK</a>.
				RDFCCs affiliation with CTT provides riders with
				basic insurance at RDFCC club time trials (it is not possible to
				ride our club time trials without being a member of the RDFCC or
				another affiliated club). RDFCC membership will also allow you
				to ride the club time trials of other clubs who are also
				affiliated (e.g. Ross & District CC and Newport Phoenix), as
				well as Open CTT events.
			</p>
			<hr class="mx-32 mt-8 border-green-800 border-1">
			<h2 class="font-semibold pt-8 text-xl pb-8">Discounted Club Kit</h2>

			<h3 class="font-semibold pb-4">Let's kit you out!</h3>

			<p>
				RDFCC currently purchase club kit from Champion System UK. The
				kit is discounted by the club in special offers when the 'club
				shop' is opened. See Ali Colquoun for more details. Club kits
				promote the club on rides and at events.
			</p>
			<hr class="mx-32 mt-8 border-green-800 border-1">
			<h2 class="font-semibold pt-8 text-xl pb-8">
				Local Business Discounts
			</h2>

			<h3 class="font-semibold pb-4">You're saving!</h3>

			<p>
				On production of a membership card members can usually hope for
				up to 10% off at the following:<p>
					CHELTENHAM CYCLES in Cheltenham 01242 255414
				</p>
				<p>CLIMB ON BIKES in Hereford 01432 261211</p><p>
					CYCLES CLEMENTS in Ledbury 01531 632213
				</p><p>
					DAVE EVANS CYCLES – Specialist Wheel Builds/Repairs/Spares &
					Used Parts. 12 Wyeside Park, Bishopswood, Ross-on-Wye HR9
					5QX. Phone: 07786-589992.
				</p><p>
					EASTGATE CYCLES 76-78 Eastgate street, Gloucester, GL1 1QN.
					Phone: 01452 30036
				</p><p>
					I FIX BIKES – Mobile Bicycle Repair, Tintern. Tel: 07500 115
					438
				</p><p>LEISURE LAKES in Cheltenham 01242 251505</p><p>
					PEDALABIKE AWAY in Cannop 01594 860065 (Members must present
					card for 10% discount)
				</p><p>
					REVOLUTIONS in Ross on Wye 01989 562639 WILLIAMS CYCLES in
					Cheltenham 01242 512291
				</p>
			</p>
		</div>
	</div>
</BaseLayout>
