---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Club History";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="px-8">
    <h2 class="font-semibold py-2">Origins</h2>

    <p class="py-4">
        The “Club” was originally formed in 1935 by an amalgamation of Bream
        Cycling Club and some members of Ross Cycling Club who lived in the
        Forest of Dean. Obviously, the war stopped most people from cycling very
        much and a lot of potential riders were “drafted away”.
    </p>
    <hr class="mx-32 my-4 border-green-800 border-1">
    <h2 class="font-semibold py-2">Formation</h2>

    <p class="py-4">
        The club, as we now know it, was reformed in 1949 using the Fountain
        Inn, Parkend as it’s headquarters. It has since moved several times, the
        first of which was in 1954 to the Globe Inn, Berry Hill close to Berry
        Hill Sports Ground where Reg Berrow organised annual grass track racing
        in conjunction with the local sports day. The last “grass track” was
        held in 1958 with John Hall of the Ross on Wye Club being the only rider
        to compete on that day and was still riding a bike up until 2008. The
        Club moved again in 1957 to the “tin hut” on the Sports Ground and
        stayed there until the club went into serious decline in the early
        1960’s. In 1961 the Club held the Western Division Hill Climb on Worrall
        Hill.
    </p><p class="py-4">
        ​ The club was reformed in 1970 with Cyril Adams as President and Reg
        Berrow as Secretary and moved to Close Turf between Bream and St
        Briavel’s in 1972. Racing was organising both time trial and road
        racing; the Club had its own 10-mile Time Trial course which it still
        uses today from Lydbrook to Walford and back. The 25 mile course was
        from Monmouth down the A466 through Tintern to the top of the hill
        opposite the back entrance to Livox Quarry, this course was used from
        1949 but had to be abandoned when traffic lights were put on Bigsweir
        Bridge. One Sunday in Tintern on a Club ’25’ a very stubborn policeman
        was doing a speed check inside the 30 mph limit coming down towards the
        Abbey. He stopped all riders who were over the speed limit and cautioned
        them, completely fouling up the race. A similar incident occurred in
        2014 during the “new” Tintern 10-mile time trial when a posse of police
        motorcyclists training for the Tour de France in Yorkshire interrupted
        several riders race by getting them to either stop or pull over.
    </p>
    <hr class="mx-32 my-4 border-green-800 border-1">
    <h2 class="font-semibold py-2">The Vintage Tankard</h2>

    <p class="py-4">
        What started as a challenge in 1953 became a regular 25-mile Time Trial
        between Redmon CC (Morden) near London, Newport Phoenix and the Forest
        Club. The trophy was a large tankard known as the Vintage Tankard. The
        event was based at The Vintage pub in Sutton Benger in Wiltshire, deemed
        to be central to the London — Newport axis. The course was the U80 used
        until the M4 caused road changes and the revised course was the U88 and
        was used until the 2003 when the Redmon club finally couldn’t find the
        necessary 6 riders to form a team. The race still takes place on the
        first Sunday in October; now raced annually rotating between Newport
        Phoenix, Ross on Wye CC and the Forest Club as the host.
    </p><p class="py-4">
        In this era most other club time trial courses were any ‘open’ races in
        South Wales for 50 miles, 100 miles or 12 hour events. The Club’s own 50
        mile course was an addition to the original 25 mile by going out to
        Abergavenny and back. This was doomed when the lights were put on the
        Bigsweir Bridge and also lights on Monmouth Bridge to link the A40.
    </p><p class="py-4">
        Another “Challenge” course was one devised to follow on from the “Salmon
        Supper” donated by Friends of the Forest. Only people who attended the
        supper at Close Turf and agreed to race and drink could participate the
        drinking started at 8 pm and continued till 11.30 pm each drink was
        recorded by the marshal depending on the riders age. Next morning both
        age and consumption helped with the handicap. Some members “well oiled”
        by midnight were almost guaranteed a good ride in the morning. The
        course latterly was starting at the end of Bream on the Parkend Road
        turning left at the Parkend Pike then left at Coalway, left at Milkwall,
        left at Lambsquay, left down Bream Avenue and finishing at the Maypole
        Junction.
    </p><p class="py-4">
        ​ Annual Club Dinners were a regular event normally held on the first
        Saturday in November to “kick off” the social season. Tintern was the
        original venue but in 1961 after 171 people attended the Anchor Hotel we
        were asked not to return because the carpets got rather wet with beer.
        The Club has since been to the Feathers, Close Turf Club, The Fountain
        Inn, Victoria Hotel, Newnham , Beecenhurst Lodge, Miner’s Whitecroft.
        After several years when racing membership was low a resurgence happened
        in 1978 when it was decided to restart the 10 mile Time Trial as a
        season long championship and apply for a race on the Monmouth-Usk road
        in 1980. It was also decided at the AGM of 1979 that the Club restart
        the B.A.R (Best All Rounder) over 10 miles, 25 miles and 50 miles and U
        or R courses. Club racing vests in green and yellow were available for
        the first time. In 1980 we were asked to restart ‘road racing’ as
        Cinderford Town wanted a cycle race to be part of their Town Carnival,
        the first road race since 1961. It was a success and Bart Venner
        suggested that the Club held it’s own race in 1981. It was agreed that
        we start with a 3rd Category and Junior event on a Friday evening in
        July. The AGM in 1980 showed that we were in better shape having held
        our first 25, our first road race and won the Benger Vintage Tankard.
        The Club agreed to affiliate to the RTTC, BCF, Welsh CA and Western
        RTTA. We also said that the Club should create a new constitution and
        rules before the 1st of January 1981. Howard Baker also became Club
        President.
    </p>
</div>
</BaseLayout>
