---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "ROYAL DEAN FOREST CYCLING CLUB";
---
<style>
	h1 {
	  color: #205b34;
	  font-size: 4rem;
	}
</style>
  
<BaseLayout pageTitle={pageTitle}>

  <style>
    h1 {
      color: #205b34;
      font-size: 4rem;
    }
    </style>

  <h2>My awesome blog subtitle</h2>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>