---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import PostCard from "../components/PostCard.astro";
import RDFCCPhoto from "../assets/RDFCC_Gravel.png";

// utils imports
import { formatFrontPage } from "../scripts/utils";

const pageTitle = "";
const allPosts = await Astro.glob("./posts/*.md");
const formattedPosts = formatFrontPage(allPosts,{filterFrontPage: true});
---

  
<BaseLayout pageTitle={pageTitle}>


<Image class="w-full" src={RDFCCPhoto} alt="Group Photo" ;/>
  
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">Latest News</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-flow-row gap-2">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</BaseLayout>

<style>
 
  </style>