---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Join Us";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="px-8 py-4">
	<p class="py-4">
		Looking to join one of the friendliest cycling clubs in the Forest of
		Dean area? You've come to the right place.
	</p>
	<p class="py-4">
		If you fancy getting a flavour for what we are about, you can join any
		one of our regular club runs. Contact us to register your interest and
		receive info on the meeting point and route details. We have a number of
		favourite routes and routes and information can be found by clicking
		this link.
	</p>

	<p class="py-4">
		If you enjoy your first ride with us, we would love to invite you to
		sign up and join the club.
	</p>

	<h3 class="font-semibold">APPLY FOR MEMBERSHIP via club page here: <a href="https://www.britishcycling.org.uk/club/subscriptions/buy?club_id=559&subscription_id=145" class="text-center my-2 inline-block rounded-full
		bg-neutral-200 px-4 pb-2 pt-2.5 text-xs font-medium uppercase
		leading-normal text-neutral-700 shadow-md transition duration-150
		ease-in-out hover:bg-neutral-300 hover:shadow-lg
		focus:bg-neutral-300 focus:shadow-lg focus:outline-none focus:ring-0
		active:bg-neutral-400 active:shadow-lg">British Cycling</a></h3>

	<div class="pt-4 pb-8">
		<ul>
			<p>Subscription prices are as follows:</p><li>
				Family membership £20.00
			</li><li>Ordinary membership £14.00</li><li>
				Junior membership £8.00
			</li><li>Second claim membership £10.00</li><li>
				Five Year Ordinary Membership £60.00
			</li><li>Social Membership (cannot race) £10.00</li>
		</ul>
	</div>
	<hr class="mx-32 my-4 border-green-800 border-1">
	<h3 class="font-semibold py-2">Club Run</h3>
	<p class="py-4">
		We meet every Sunday morning at 9am, usually in the Fountain Inn Car
		Park, at the junction of Fountain Way and New Road, GL15 4JD. Check the
		website and Facebook page as start points do vary on some rides.
	</p><p class="py-4">
		Most rides will stop for coffee and cake about halfway through the ride
		but some will ride non-stop, all will be advertised before they leave.
		Club runs can be anything from 35 miles and back within a couple of
		hours, to upwards of 100 miles riding all day!
	</p>
	<hr class="mx-32 my-4 border-green-800 border-1"><h3 class="font-semibold py-2">Volunteering</h3><p>
		Royal Dean Forest Cycling Club relies on all members to help out with
		all activities and duties the club needs to fulfil to serve its purpose.
		Whether this is helping lead a club ride on a Sunday morning, baking a
		cake, marshalling at a time trial or being on the committee, everyone
		should do their part, or the club won’t exist. As with all amateur sport
		the members serve the club as much as the club serves them. Volunteering
		is great fun, a good way to meet lots of members and to get to know them
		socially off the bike.
	</p><p class="py-4">
		When you join RDFCC, we encourage all members to volunteer at least once
		a year to help the club. RDFCC has a duty to help maintain and develop
		cycling at a grassroots level. This requires us to put on events, not
		only for our members, but cyclist across the area and country. As one of
		the longest established clubs in the area we have obligations to the
		cycling community in helping maintain and grow the sport for current and
		future cyclists.
	</p><p class="py-4">
		As well as open races, we also put on private events for our membership.
		These include yearly events such as the, club TT series, velodrome track
		days, club championship race, awards night, summer BBQ and much more.
		With such a wide range of events going on, everyone is encouraged to
		pitch in and help where they can.
	</p><p class="py-4">
		If you love cycling and want to get involved in all aspects of a great
		cycling club, then RDFCC is the club for you.
	</p>
	<hr class="mx-32 my-4 border-green-800 border-1">
	<h2 class="font-bold py-2">FAQs</h2><h3 class="font-semibold py-2">Who is the club for?</h3><p class="py-4">
		We strive to be the most inclusive club in the Forest of Dean region and
		have something for everything, representing all disciplines of the
		sport. We foster an engaged community who make an outstanding
		contribution to their own club and the wider cycling community. Through
		an active volunteering programme, our members are encouraged to give
		back in a way that is a positive experience for everyone.
	</p><h3 class="font-semibold py-2">When are your club rides?</h3><p class="py-4">
		Our regular club run takes place most Sunday mornings at 9am, meeting in
		Parkend. In addition to this there are often other rides posted on the
		Facebook page, as well as mid-week rides in the summer months
	</p><h3 class="font-semibold py-2">What sort of speed and distance can I expect?</h3><p class="py-4">
		Rides tend to vary in distance from about 35 miles at the shortest to
		over 100 miles at the upper end. The pace of the ride will be
		advertised, but we strive not to leave anyone behind.
	</p><h3 class="font-semibold py-2">Can I just turn up and ride?</h3><p class="py-4">
		If you are interested in joining the club, ideally let us know and we
		can welcome you. If you do just turn up, please introduce yourself and
		let people know your level of experience.
	</p><h3 class="font-semibold py-2">Do I have to have a racing bike?</h3><p class="py-4">
		Most riders at the club run will be on a road bike but we do also have
		members taking CX and MTB rides out. Some of our rides are specific
		gravel or MTB rides. Enthusiasm for cycling and being part of a club are
		the most important things.
	</p><h3 class="font-semibold py-2">Do I have to live in the Forest of Dean?</h3><p class="py-4">
		We have members from outside the Forest, in Wales and in Bristol.
	</p><h3 class="font-semibold py-2">How do I become a member?</h3><p class="py-4">
		Contact the membership secretary or join directly via the British
		Cycling page
	</p><h3 class="font-semibold py-2">What's the age range of members?</h3><p class="py-4">
		We have members from 8 to over 80
	</p><h3 class="font-semibold py-2">I'm under 18 can I join?</h3><p class="py-4">
		If you are aged 16-18 we only require that you have a consent form
		signed by a guardian and returned to us before you are able to ride with
		the club. If you are under 16 we require you to have a ride guardian;
		they must be a member or willing to join the club to attend rides with
		you
	</p><h3 class="font-semibold py-2">Can I race for the club?</h3><p class="py-4">
		We have a number of members who race across multiple disciplines. We
		have lots of members who compete at time trials road races, cyclocross
		and track.
	</p><h3 class="font-semibold py-2">What about CX and off-road?</h3><p class="py-4">
		We have an active cyclo-cross scene with several members racing Western
		CX League. We have hosted our round of the league in the past. Several
		club members also compete in MTB events and many just enjoy hitting the
		Forest of Dean trails, which are some of the best in the country.
	</p>
</div>
</BaseLayout>
