---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import PostCard from "../components/PostCard.astro";


// utils imports
import { formatBlogPosts } from "../scripts/utils";

const allPosts = await Astro.glob("../pages/posts/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const pageTitle = "Latest News from the club";
---

<BaseLayout pageTitle={pageTitle}>
  
  
  <section  aria-label="New Blog Posts">
    
    <div class="p-8 grid grid-cols-1 md:grid-cols-3 md:grid-flow-row gap-8">
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
