---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = "Racing";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>CLUB RIDES & EVENTS</h2>

	<h3>Come and join in!</h3>

	<p>
		Racing is not for everyone, but the club makes it fun! All you need is a bike, a helmet, a rear light, a front light and a thirst ;-) </p>
		<p>RDFCC regularly runs Time Trials on a Tuesday night through the summer months, and you may see many members at the local and regional CTT organised events.  
</p>
​<p>

*** New CTT rules stipulate all participants in CTT affiliated TimeTrials (which RDFCC's are) MUST now have a front light as well as a rear. Also, helmets must always be worn, previously helmets were not required for hill climbs***
</p>
​

Whilst the focus in the club is largely time trials, some members race Cyclocross (CX), Mountain Bike (MTB), Criteriums and Road Races. 

​

If you're not sure, why not speak with one of the club members or comment on the Facebook page - lots of people to take you under their wing and get you up and rolling!


</p>
<a href="/timetrials/">Time Trials</a>
</BaseLayout>
