---
import Social from './Social.astro';

import { Image } from 'astro:assets';
import facebook from "../assets/facebook.png";
import twitter from "../assets/twitter.png";
import instagram from "../assets/instagram.png";
---


<footer class=" px-8 py-4 bg-yellow-300">
    <div class="flex flex-row gap-4 justify-end">
        <a href={`https://www.facebook.com/groups/rdfcc1`} target="_blank"><Image class="w-8" src={facebook} alt="facebook logo";/></a>
        
            <a href={`https://www.twitter.com/@RDFCC`} target="_blank"><Image class="w-8" src={twitter} alt="twitter logo";/></a>
            <a href={`https://www.instagram.com/rdfcc2020`} target="_blank"><Image class="w-8" src={instagram} alt="instagram logo";/></a>
    
</div>
</footer>