---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <Hamburger/>
        <ThemeIcon />
        <div>
        <h1>ROYAL DEAN FOREST CYCLING CLUB</h1>
    </div>
        <Navigation />
    </nav>
</header>

<style>
    h1 {
    color: #205b34;
	  font-size: 2rem;
  }
  </style>