---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from 'astro:assets';
import RDFCCLogo from "../assets/cropped-Vector-Logo.webp";
---

<header class="sticky top-0 z-50 bg-white">
  <nav class="border-gray-200">
    <div class="bg-green-900 h-28 ">
      <Hamburger />
    <div class="flex flex-col  justify-center items-center">
    
    <!-- <ThemeIcon /> -->
    <div>
      <Image class="w-16  items-center" src={RDFCCLogo} alt="Royal Dean Forest Logo";/>
    </div>
      <div>
      <h1 class="text-white tracking-widest text-lg md:text-xl py-1 font-mono">ROYAL DEAN FOREST CYCLING CLUB</h1>
    </div>
    </div>
  </div>
    <Navigation />
  </nav>
</header>


