---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from 'astro:assets';
import RDFCCLogo from "../assets/cropped-Vector-Logo.webp";
---

<header>
  <nav class="py-4 px-4 border-gray-200 bg-gradient-to-tr from-white via-green-200 to-green-900">
    <div class="h-32 grid grid-flow-col grid-cols-[15%_20%_65%]">
    <Hamburger />
    <!-- <ThemeIcon /> -->
    
      <Image class="w-28" src={RDFCCLogo} alt="Royal Dean Forest Logo";/>
      
      <h1 class="text-lime-800 text-2xl font-bold p-4">ROYAL DEAN FOREST CYCLING CLUB</h1>
    </div>
    <Navigation />
  </nav>
</header>


