---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from 'astro:assets';
import RDFCCLogo from "../assets/cropped-Vector-Logo.webp";
---

<header>
  <nav>
    <div class="headerline">
    <Hamburger />
    <ThemeIcon />
    
      <Image src={RDFCCLogo} alt="Royal Dean Forest Logo" width="100";/>
      
      <h1>ROYAL DEAN FOREST CYCLING CLUB</h1>
    </div>
    <Navigation />
  </nav>
</header>


