---
const response = await fetch(
  "https://opensheet.elk.sh/1AHqEDEJr_dmTWN5_JEZf0QcO7mLFeMgnimGyCWk5NGs/1"
);
const data = await response.json();
---

<section>
  <h3>2023 Results</h3>
  <div>
    {
      data
        .map((result) => (
          <div>
            <div>
              <p>{result.Rider}</p>
              
            </div>
          </div>
        ))
    }
  </div>
</section>