---
import BaseLayout from './BaseLayout.astro';
import ResultSheet from "../components/ResultSheet.astro";
const { frontmatter } = Astro.props;

const { SheetUrl, Year } = frontmatter;

const newPageTitle = Year+ " Time Trial Results";
---
<BaseLayout pageTitle={newPageTitle}>

<div class="px-8">
    <ResultSheet resultUrl={SheetUrl} resultYear={Year}/>
</div>
</BaseLayout>
 