---
import BaseLayout from './BaseLayout.astro';
import ResultSheet from "../components/ResultSheet.astro";
const { frontmatter } = Astro.props;

const { SheetUrl, Year } = frontmatter;

const newPageTitle = Year+ " Time Trial Results";
---
<BaseLayout pageTitle={newPageTitle}>
    <div>
        <a class="px-8 text-sm text-green-800" href="/timetrials/">&lt;-- Back to Time Trials</a>
    </div>

<div class="px-8">
    <ResultSheet resultUrl={SheetUrl} resultYear={Year}/>
</div>
</BaseLayout>
 